<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Ski Slope List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method SkiSlopeController.listAll -->
    <form id="filter-form">
        <label for="name">Slope Name</label>
        <input id="name" type="text" name="name"/>

        <label for="length">Slope Length (in meters)</label>
        <input id="length" type="number" name="length"/>

        <label for="difficulty">Slope Difficulty</label>
        <select id="difficulty" name="difficulty">
            <option value="">All</option>
            <!-- For each SlopeDifficulty you should have one <option> like below  -->
            <option th:each="sd : ${slopeDifficulty}" th:value="${sd.name}" th:text="${sd.name}" >[slopeDifficulty]</option>
        </select>

        <label for="skiResort">Ski Resort</label>
        <select id="skiResort" name="skiResort">
            <option value="">All</option>
            <!-- For each ski resort you should have one <option> like below  -->
            <option th:each="sr : ${skiResorts}" th:value="${sr.id}" th:text="${sr.name}" >[skiResort.name]</option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- SkiSlopeController.showAdd -->
        <a href="/add" class="add-item" sec:authorize="hasRole('ADMIN')">Add new ski slope</a>
    </div>

    <table>
        <tr>
            <th>Slope Name</th>
            <th>Length</th>
            <th>Difficulty</th>
            <th>Ski Resort</th>
            <th>Open/Closed</th>
            <th>Actions</th>
        </tr>
        <!-- For each ski slope you should have one <tr> like below -->
        <tr class="item" th:each="sl : ${skiSlopes}">
            <td th:text="${sl.name}" >[slope.name]</td>
            <td th:text="${sl.length}" >[slope.length]</td>
            <td th:text="${sl.difficulty}" >[slope.difficulty]</td>
            <td th:text="${sl.skiResort.name}" >[slope.skiResort.name]</td>
            <td th:text="${!sl.isClosed()? 'OPEN' : 'CLOSED'}" >[slope.closed] -> OPEN/CLOSED</td>
            <td>
                <!-- SkiSlopeController.edit -->
                <a class="edit-item" th:href="@{'/ski-slopes/edit/{id}' (id=${sl.id})}" sec:authorize="hasRole('ADMIN')">Edit</a>

                <!-- SkiSlopeController.delete -->
                <form method="post" th:action="@{'/ski-slopes/delete/{id}' (id=${sl.id})}" sec:authorize="hasRole('ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <!-- SkiSlopeController.close -->
                <form th:if="${!sl.isClosed()}" th:action="@{'/ski-slopes/close/{id}' (id=${sl.id})}"  method="post"  sec:authorize="hasRole('ADMIN')" >
                    <button type="submit" class="close-item">Close</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
