<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>national park Form</title>
</head>
<body>
<!-- The form should submit to NationalParkController.create or NationalParkController.update,
     depending on whether we are creating or editing a national park -->
<form method="post" th:action="@{${park == null ? '/national-parks' : '/national-parks/' + park.id}}">
    <div>
        <label for="name">National Park Name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="${park?.name}"
               required>
    </div>

    <div>
        <label for="areaSize">Area Size (in square meters)</label>
        <input type="number"
               id="areaSize"
               name="areaSize"
               th:value="${park?.areaSize}"
               required>
    </div>

    <div>
        <label for="rating">Rating</label><br/>
        <input type="number"
               id="rating"
               name="rating"
               step="0.1"
               min="0"
               max="10"
               th:value="${park?.rating}"
               required>
    </div>

    <div>
        <label for="parkType">National Park Type</label><br/>
        <select id="parkType" name="parkType" size="5" required>
            <!-- For each ParkType you should have one <option> like below  -->
            <option th:each="pt : ${types}" th:text="${pt.name}" th:value="${pt.name}" th:selected="${park!=null && park.parkType==pt}">[parkType]</option>
        </select>
    </div>

    <div>
        <label for="location">ParkLocation</label><br/>
        <select id="location" name="locationId" required size="5">
            <!-- For each location you should have one <option> like below  -->
            <option  th:each="l : ${locations}" th:text="${l.country} +', ' + ${l.continent} " th:value="${l.id}"  th:selected="${park!=null && park.location==l}">[location.country], [location.continent]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/national-parks" type="button" class="btn btn-primary">Back to national parks</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
