<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Archaeological Site List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method ArchaeologicalSiteController.listAll -->
    <form id="filter-form">
        <label for="name">Site Name</label>
        <input id="name" type="text" name="name"/>

        <label for="areaSize">Site Area Size (in square meters)</label>
        <input id="areaSize" type="number" name="areaSize"/>

        <label for="rating">Rating</label>
        <input id="rating" type="number" step="0.1" min="0" max="10" name="rating"/>

        <label for="period">Historical Period</label>
        <select id="period" name="period">
            <option value="">All</option>
            <!-- For each HistoricalPeriod you should have one <option> like below  -->
            <option th:each="p : ${periods}" th:text="${p.name()}" th:value="${p.name()}">[historicalPeriod]</option>
        </select>

        <label for="location">SiteLocation</label>
        <select id="location" name="locationId">
            <option value="">All</option>
            <!-- For each location you should have one <option> like below  -->
            <option th:each="l : ${locations}" th:text="${l.city + ' , ' + l.country }  " th:value="${l.id}">[location.city] , [location.country]</option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- ArchaeologicalSiteController.showAdd -->
        <a class="add-item" href="/add" sec:authorize="hasRole('ADMIN')" >Add new archaeological site</a>
    </div>

    <table>
        <tr>
            <th>Site Name</th>
            <th>Area Size</th>
            <th>Rating</th>
            <th>Historical Period</th>
            <th>SiteLocation</th>
            <th>Open/Closed</th>
            <th>Actions</th>
        </tr>
        <!-- For each archaeological site you should have one <tr> like below -->
        <tr class="item" th:each="a : ${archaeologicalSites}">
            <td th:text="${a.name}" >[site.name]</td>
            <td th:text="${a.areaSize}" >[site.areaSize]</td>
            <td th:text="${a.rating}" >[site.rating]</td>
            <td th:text="${a.period}" >[site.period]</td>
            <td th:text="${a.location.city}" >[site.location.city], [site.location.country]</td>
            <td th:text="${a.closed } ? 'CLOSED' : 'OPEN'" >[site.closed] -> OPEN/CLOSED</td>
            <td>
                <!-- ArchaeologicalSiteController.edit -->
                <a class="edit-item" th:href="@{'/archaeological-sites/edit/{id}' (id=${a.id})}"  sec:authorize="hasRole('ADMIN')">Edit</a>

                <!-- ArchaeologicalSiteController.delete -->
                <form  th:action="@{'/archaeological-sites/delete/{id}' (id=${a.id})}" method="post" sec:authorize="hasRole('ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <!-- ArchaeologicalSiteController.close -->
                <form th:if="${!a.closed}" th:action="@{'/archaeological-sites/close/{id}' (id=${a.id})}" method="post" sec:authorize="hasRole('ADMIN')">
                    <button type="submit" class="close-item">Close</button>
                </form>

            </td>
        </tr>
    </table>
</div>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
