<!DOCTYPE html>
<html lang="en">
<head>
    <title>national park List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method NationalParkController.listAll -->
    <form id="filter-form">
        <label for="name">National Park Name</label>
        <input id="name" type="text" name=""/>

        <label for="areaSize">National Park Area Size (in square meters)</label>
        <input id="areaSize" type="number" name=""/>

        <label for="rating">Rating</label>
        <input id="rating" type="number" step="0.1" min="0" max="10" name=""/>

        <label for="parkType">National Park Type</label>
        <select id="parkType" name="">
            <option value="">All</option>
            <!-- For each ParkType you should have one <option> like below  -->
            <option>[parkType]</option>
        </select>

        <label for="location">ParkLocation</label>
        <select id="location" name="">
            <option value="">All</option>
            <!-- For each location you should have one <option> like below  -->
            <option>[location.country], [location.continent]</option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- NationalParkController.showAdd -->
        <a class="add-item">Add new national park</a>
    </div>

    <table>
        <tr>
            <th>National Park</th>
            <th>Area Size</th>
            <th>Rating</th>
            <th>National Park Type</th>
            <th>ParkLocation</th>
            <th>Open/Closed</th>
            <th>Actions</th>
        </tr>
        <!-- For each national park you should have one <tr> like below -->
        <tr class="item">
            <td>[park.name]</td>
            <td>[park.areaSize]</td>
            <td>[park.rating]</td>
            <td>[park.parkType]</td>
            <td>[park.location.country], [park.location.continent]</td>
            <td>[park.closed] -> OPEN/CLOSED</td>
            <td>
                <!-- NationalParkController.edit -->
                <a class="edit-item">Edit</a>

                <!-- NationalParkController.delete -->
                <form>
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <!-- NationalParkController.close -->
                <form>
                    <button type="submit" class="close-item">Close</button>
                </form>

            </td>
        </tr>
    </table>
</div>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
